$breakpoints: (
    "s": "640px",
    // => @media (min-width: 640px) {...}
    "m": "768px",
    // => @media (min-width: 768px) {...}
    "l": "1024px",
    // => @media (min-width: 1024px) {...}
    "x": "1280px",
    // => @media (min-width: 1280px) {...}
    "t": "1536px"
    // => @media (min-width: 1536px) {...}
);
@mixin mq($width, $type: min) {
  @if map_has_key($breakpoints, $width) {
    $width: map_get($breakpoints, $width);
    @if $type == max {
      $width: $width - 1px;
    }
    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}
